{%extends 'src/partials/layout.njk'%}
{%block content%}
            <h1 > About</h1>
            <img src="https://i.imgur.com/tYIJPLZ.gif" alt="">
            <a href="about.html">            <button class="button is-danger is-dark">Vajuta mind</button></a>
{%endblock%}