{%extends 'src/partials/layout.njk'%}
{% block title%}Home page {% endblock%}
{%block content%}
            <h1> {{ name }} ON RÄIGELT gay</h1>
            <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDN6czB6dTAzZDF4MGp6OHo2Mnh4cjQxa3UyOTd0bmZheGM5OGtreCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/relnvfSEa2Qa125uPA/giphy.webp" alt="">
            <a href="about.html">            <button class="button is-danger is-dark">Vajuta mind</button></a>
{%endblock%}